.main {
  width: 150px;

  :global {
    [class*="MuiInputBase-root"] {
      padding: 0px !important;
      input {
        padding: 0 6px !important;
      }
    }
  }
}

.test {
  margin: 0px;
  padding: 0px;
}

:global {
  .MuiAutocomplete-popper {
  }
}
