.main {
  width: 100%;
  height: 100%;
  border: 1px solid red !important;

  .jsonHolder {
    display: flex;
    flex: 1;
    border: 6px solid red !important;
    overflow: auto;
    height: 88%;
  }

  .jsonEditorButtonGroup {
    display: flex;
    flex: 1 1;
    border: 1px solid green !important;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
  }
}
