@import "../../../Common/Styles/mixins.modules.scss";

.saveButton {
  z-index: 110;
  border: 4px solid green !important;
  position: absolute;
  top: 0;
  right: 0;
}

.locationDragger {
  border: 1px solid blue !important;
  height: 100%;
  width: auto;
  display: flex;
}

.locationImageDragger {
  border: 1px solid red !important;
  width: unset !important;
  overflow: hidden;
  background: transparent !important;
}

.locationImage {
  position: relative;
  z-index: 100;
  height: 100%;
  width: auto;
}
