// @import "../../Styles/mixins.modules.scss";
@import "../../../Common/Styles/mixins.modules.scss";

.girlHeadContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  background: var(--light-pink);

  border: 2px solid var(--set1-purple-brdr);
  top: 0px;
  left: 0px;

  margin: 3px;
  border-radius: 6px;
}

.girlHead {
  width: 140%;
}

.girlHeadAmberContainer {
  border: 1px solid blue !important;
}

.girlHeadAmber {
}

.girlHeadKat {
}

.moodLabel {
}
