@import "../../Styles/mixins.modules.scss";

.main {
  z-index: 1000;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.worldPickerButton {
  display: flex;
  font-size: 1vh;
}

.mapPickerRowTitle {
  display: flex;
  flex: 1;
}

.mapPickerRow {
  justify-content: space-between;
  border: 1px solid #ababab !important;
  display: inline-flex;
  width: 100%;
  align-items: center;
  background: #e8ebec;
  padding: 0% 1%;
  border-radius: 0.5vh;
  margin: 0px;
}

.mapPickerRowButtons {
  display: flex;
  padding: 0px 1%;
  align-items: center;
  justify-content: center;
}

.mapPickerButton {
  display: flex;
  border: 1px solid blue !important;
  overflow: hidden;
}

.popoverClassName {
  min-width: 20vw;
  max-width: 90vw;
  border: 1px solid red !important;
  width: 50vw;
}
