// color globals
body {
  --color-blue: blue;
  --color-blue-light: #00ade4;
  --color-purple: #9451f9;
  --color-purple-dark: #9451f9;
  --color-pink: #00ade4;
  --color-bright-pink: #ff35ff;
  --grass-color: #a5d089;
  --light-pink: #fbf3f3;
  --color-yellow: #fff547;

  --translucent-white: rgba(255, 255, 255, 0.45098039215686275);

  // flash cards
  --color-blue: blue;
  --color-blue-light: #00ade4;
  --color-purple: #9451f9;
  --color-purple-dark: #9451f9;
  --color-pink: #f3e4e7;
  --color-red: red;

  // Word Page
  --story-text: #7777c1;

  // Set 1
  --set1-purple-brdr: purple;
  --set1-lav-bk: #a1a1ff;
  --set1-pink-bk: #ff85a5;
}
