@import "../../../Common/Styles/mixins.modules.scss";

.main {
  --image-width: 200px;

  :global {
    .MuiDialog-paper {
      // border: 4px solid green !important;
      display: flex;
      max-width: unset;
    }
  }

  .itemImageContainer {
    display: flex;
    border: 1px solid green !important;
    width: var(--image-width);
    height: var(--image-width);
    justify-content: center;
    overflow: hidden;
    background: var(--grass-color);
    margin: 0.3%;
    border-radius: 12px;

    position: relative;

    &:hover {
      border: 2px solid green !important;
      cursor: pointer;
    }

    .itemImage {
      display: flex;

      height: 100%;
      width: auto;
    }
  }
}

.closeFacePickerButton {
  position: absolute;
  right: 0px;
}

.itemLabel {
  @include item-label;
  position: absolute;
  border: 1px solid blue !important;
  z-index: 10;

  background: var(--light-pink);
  border-radius: 3px;

  padding: 0 3px;
  transform: translate(-50%, 25%);

  width: auto;

  left: 50%;
  top: unset;
  bottom: 6%;
}

.closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.girlPickerContainer {
  border: 1px solid var(--set1-purple-brdr);
  display: flex;
  height: auto;
  margin: 1.5vh;
  background: var(--set1-pink-bk);
  border-radius: 0.3rem;
  align-items: flex-start;
  margin-bottom: 0px;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: wrap;
  height: inherit;
  width: 100%;
  // border: 1px solid green !important;
}
