@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex: 1;
  border: 1px solid red !important;
  width: 100%;
  height: 100%;
}

.itemImageContainer {
  display: flex;
  border: 1px solid green !important;
  width: 100px;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  background: var(--grass-color);
  margin: 0.3%;
  border-radius: 12px;

  position: relative;

  &:hover {
    border: 2px solid green !important;
    cursor: pointer;
  }

  .itemImage {
    display: flex;

    height: 100%;
    width: auto;
  }
}

.closeFacePickerButton {
  position: absolute;
  right: 0px;
}

.itemLabel {
  @include item-label;
  position: absolute;
  border: 1px solid blue !important;
  z-index: 10;

  background: var(--light-pink);
  border-radius: 3px;

  padding: 0 3px;
  transform: translate(-50%, 25%);

  width: auto;

  left: 50%;
  top: unset;
  bottom: 6%;
}

.closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.girlPickerContainer {
  border: 1px solid var(--set1-purple-brdr);
  display: flex;
  height: auto;
  padding: 8px;
  margin: 0.6rem;
  background: var(--set1-pink-bk);
  border-radius: 0.3rem;
  height: 100%;
  align-items: flex-start;
}

.girlPicker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
}
