@import "../../../Common/Styles/mixins.modules.scss";

.missionConsoleBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  z-index: 20;
  top: 2vh;
  left: 2vh;
  right: 51.6vw;
  border: 1px solid blue !important;
}

.lizAndKatContainer {
  position: absolute;
  display: flex;
  bottom: 10vh;
  z-index: 10;
  left: 10vw;
  overflow: visible;
  border: 4px solid green !important;

  .characterContainer2 {
    display: flex;
    height: 100%;

    &:nth-of-type(3) {
      margin-left: auto;
    }
  }
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background: white;
  padding: 1vh;
  border: 5px solid orange !important;

  .audioConsoleFrame {
    position: absolute;
    display: flex;
    z-index: 1000;
    border: 1px solid red !important;
    top: 10vh;
    left: 0;
  }

  .charactersContainer {
    border: 4px solid green !important;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: center;
    background: none;
    bottom: 8vh;
    left: 54vw;

    [class*="Character_characterImage"] {
      width: 100%;
      height: auto;
      max-width: 30vh;
      max-height: 31vh;
    }
  }

  .charactersContainer2 {
    border: 1px solid blue !important;
    right: 53vw;
    width: fit-content;
    max-width: 39vw;
    left: unset;
  }

  .imageGroupsContainer {
    border: 1px solid purple !important;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 29vh;
    position: absolute;
    bottom: 1vh;
    left: 16vh;
  }

  // tile images so that if an image is not long enough, it is followed by a reversed copy of itself.
  .backgroundImageBox {
    position: absolute;
    display: inline-flex;
    overflow: hidden;
    // border: 1px solid brown !important;
    border-radius: 2vh;
    top: 1vh;
    bottom: 1vh;
    left: 1vh;
    right: 1vh;

    .backgroundImage1,
    .backgroundImage2,
    .backgroundImage3 {
      position: absolute;
      display: flex;
      height: 100% !important;
      width: auto;
      top: 0;
      bottom: 0;
      left: 0;
    }

    .backgroundImage1 {
      // border: 1px solid blue !important;
    }

    .backgroundImage2 {
      // border: 1px solid red !important;
      transform: translateX(100%) scaleX(-1);
      margin-left: -1px;
    }

    .backgroundImage3 {
      // border: 1px solid red !important;
      transform: translateX(200%);
      margin-left: -1px;
    }
  }

  .extraBackgroundImage {
    position: absolute;
    display: flex;
    width: 32vh;
    height: auto;
    transform: scaleX(-1);
    justify-self: center;
    right: 4%;
    top: 23%;
  }

  .halfPage {
    display: flex;
    position: relative;
  }

  .rightHalf,
  .leftHalf {
    flex: 1 1;
    border-radius: 2.9vh;
    border: 1px solid #565656;
    overflow: hidden;
  }

  .leftHalf {
    border: 1px solid red !important;
  }

  .rightHalf {
    border-left: none;
    width: 65%;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 9px 8px 8px -5px #000000bd;
  }
}

.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  border: 1px solid var(--color-red) !important;
  color: var(--color-purple);
  background: var(--color-pink);
}

.worldTitle {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 20;

  font-size: 2vh;
  font-weight: bold;
  padding: 0vh 1vh;
  border: 1px solid black;
  right: 0vh;
  top: 4vh;
  background: white;
  white-space: nowrap;
  min-width: 32vh;
}
