@import "../../../Common/Styles/mixins.modules.scss";

.missionConsoleBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  z-index: 20;
  top: 2vh;
  left: 2vh;
  right: 51.6vw;
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background: white;
  padding: 1vh;

  .backgroundImage {
    position: absolute;
    display: flex;

    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }

  .backgroundImage2 {
    position: absolute;
    display: flex;
    width: 32vh;
    height: auto;
    transform: scaleX(-1);
    justify-self: center;
    right: 4%;
    top: 23%;
  }

  .halfPage {
    display: flex;
    position: relative;
  }

  .rightHalf,
  .leftHalf {
    flex: 1 1;
    border-radius: 2.9vh;
    border: 1px solid #565656;
    overflow: hidden;
  }

  .leftHalf {
    border: 1px solid red !important;
  }

  .rightHalf {
    border-left: none;
    width: 65%;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 9px 8px 8px -5px #000000bd;
  }
}

.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  border: 1px solid var(--color-red) !important;
  color: var(--color-purple);
  background: var(--color-pink);
}

.worldTitle {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 20;

  font-size: 2vh;
  font-weight: bold;
  padding: 0vh 1vh;
  border: 1px solid black;
  right: 0vh;
  top: 4vh;
  background: white;
  white-space: nowrap;
  min-width: 32vh;
}
