@import "../../Styles/mixins.modules.scss";

.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background: white;
  padding: 1vh;

  .halfPage {
    display: flex;
    position: relative;
  }

  .rightHalf,
  .leftHalf {
    flex: 1 1;
    border-radius: 2.9vh;
    border: 1px solid #565656;
    overflow: hidden;
    // margin: 3vh 2vw;
  }

  .leftHalf {
    border-right: none;
    max-width: 768px;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 6px 17px 3px #000000bd;
  }

  .rightHalf {
    border-left: none;
    width: 65%;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 9px 8px 8px -5px #000000bd;
  }
}

.yourItems {
  display: flex;
  flex-direction: column;
  position: absolute;

  font-size: 24px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  border: 1px solid var(--color-red) !important;
  color: var(--color-purple);
  background: var(--color-pink);
}

.worldTitle {
  display: flex;
  z-index: 20;
  font-size: 2vh;
  padding: 0% 1%;
  border-radius: 11px;
  border: 1px solid black;
  right: 51vw;
  top: 4vh;
  background: white;
  position: absolute;
}
