.lockImageContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 4px solid green !important;
  overflow: hidden;
  left: 56%;
  transform: translateX(-50%);
  bottom: 1vh;

  .lockImage {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 4px solid red !important;
    height: 13vh;
    width: auto;
  }
}

.main {
  --pink-background: rgba(230, 230, 250, 0.34);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--light-pink);
  color: black;
  padding: 1vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: unset;
  border: 2px solid #000 !important;

  .buttonIcon {
    border: 1px solid red !important;

    > svg {
      height: 4vh !important;
      width: 4vh !important;
    }
  }

  .questList {
    width: 43vw;
    height: 87%;
    z-index: 1000;
    position: relative;
    left: 3vh;
    top: 7vh;
    overflow: hidden;
  }

  .bookEditor {
    position: absolute;
    border: 1px solid black !important;
    width: 50vw;
    height: 60vh;
    background: lightsteelblue;
    right: 0;
    top: 3vh;
  }

  .selectedBook {
    position: absolute;
    z-index: 10;
    display: flex;
    border-bottom: 1px solid black !important;
    color: black;
    padding: 1.4vh 1vh;
    left: 25%;
    top: 2vh;
    transform: translateX(-50%);
    font-size: 4vh;
  }

  .worldPicker {
    position: absolute;
    z-index: 100;

    border: 4px solid red !important;
    width: 50vw;
    background: white;
    min-height: 20vh;
    left: 45vw;
  }

  .bookImage {
    height: 20vh;
    width: auto;
  }

  .chapterView {
    display: flex;
    position: relative;
    align-self: center;
    justify-self: flex-end;
    margin-top: 1vh;
    position: relative;
    height: 68vh;
    width: 97vw;
  }

  .bookImageChapterView {
    height: 84% !important;
    width: 41% !important;
    z-index: 1;
    align-self: center;
    margin-left: 4vh;
  }

  .bookTableOfContents01 {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .buttonGroup {
    display: flex;
    position: absolute;

    right: 1%;
    top: 1%;
  }

  .backgroundImage {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .playButton {
    display: flex;
    font-size: 2vh;
    background-color: var(--color-purple) !important;
    z-index: 1;
    font-family: fantasy;
    padding: 1vh;
    position: relative;
    right: 6vh;
    top: 1vh;
    position: absolute;
  }

  .addBookButton {
    display: flex;
    font-size: 2vh;
    background-color: var(--color-purple) !important;
    z-index: 1;
    font-family: fantasy;
    right: 1vh;
    top: 1vh;
    position: absolute;
    padding: 1vh;
    cursor: pointer;
  }

  .questPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: var(--pink-background);
    border-radius: 0.5vh;
    width: fit-content;
    align-self: center;
    flex-direction: column;
  }

  .playerStatsSection {
    position: absolute;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    border: 1px solid black !important;
    color: black;
    background: lavender;
    border-radius: 0.5vh;
    padding: 0.6vh 0.9vh;
    font-size: 2vh;
    width: 17%;
    right: 1vh;
    top: 1vh;
  }

  .gameTitle {
    display: flex;
    border: 1px solid black !important;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 1vh;
    border-radius: 0.5vh;
    font-size: 3vh;
  }

  .content {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 0vh;
    padding: 0px;
    flex-direction: column;
    width: 100%;
  }

  .playerStatsRow {
    display: flex;
  }

  .playerStatsKey {
    display: flex;
    width: 80%;
    white-space: nowrap;
  }

  .playerStatsValue {
    display: flex;
    width: 20%;
  }

  .questTable {
    display: flex;
    width: 100%;
    flex: 1 1;
    flex-direction: column;
    font-size: 24px;
    color: black;
    padding: 0vh;
    margin-top: 1vh;
    margin-left: 3vh;
  }

  .scrollArea {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .questRow {
    display: flex;

    border-radius: 0.6vh;
    justify-content: center;
    margin-right: 2vh;

    &:hover {
      background-color: #cacade;
      cursor: pointer;
    }
  }

  .tableHeader {
    display: flex;
    margin-bottom: 1%;
    width: 100%;
    border-bottom: 2px solid grey;
  }

  .tableCell {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .questName {
    position: absolute;
    display: flex;
    width: 90%;
    top: 2vh;
    left: 18%;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.9vh;
  }

  .dragonPoints,
  .gold,
  .status,
  .questStatus {
    display: flex;
    width: 18%;
  }

  .questStatus {
    display: flex;
    width: 18%;
    justify-content: flex-end;
  }

  .status {
    justify-content: center;
  }
}
