.main {
  .coordinateDisplay {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    right: 0;
    z-index: 1;

    :global {
      input {
        border: 1px solid red !important;
        display: flex;
        width: 2vh;
        padding: 0px;
      }
    }
  }

  .actualCoordiates {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    right: 0;
    z-index: 1;

    :global {
      input {
        border: 1px solid blue !important;
        display: flex;
        width: 2vh;
        padding: 0px;
      }
    }
  }

  .gridRow {
    display: flex;
  }

  .crittersContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
  }

  .critters1 {
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;
  }

  .critterImage {
    display: flex;
    border: 1px solid green !important;
    border-radius: 3px;
    background: white;
    margin: 1px 0 0 1px;
    padding: 1px;
    height: 2.6vh;
  }

  .gridCell {
    display: flex;
    border: 1px solid green !important;
    height: var(--cell-height);
    width: var(--cell-height);
    min-height: var(--cell-height);
    min-width: var(--cell-height);
    position: relative;

    .column1 {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      justify-content: flex-end;
    }

    .crudMachine {
      height: var(--item-height);
      cursor: pointer;
    }

    .charactersMachine {
      position: absolute;
      height: var(--item-height);
      bottom: 0px;
    }

    .itemsMachine {
      position: absolute;
      height: var(--item-height);
      top: 1%;
    }

    .itemBox {
      [class*="CrudMachine_itemContainer"] {
        border: 1px solid green;
        border-radius: 10%;
        margin: 1%;
        background: #f5deb3ab;

        &:hover {
          border: 2px solid green;
        }
      }
    }

    .locationMachine {
      height: 80%;
      width: 100%;

      [class*="CrudMachine_itemContainer"] {
        max-width: unset;
        width: 100%;
      }
    }
  }
}

.scenePropsButton {
  position: absolute;
  display: flex;
  right: 1%;
  z-index: 1;
}
