@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // border: 2px solid red !important;

  width: 100%;
  height: 100%;

  .crudMachinePopoverWrapper {
    // border: 10px solid red !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;

    [class*="bp3-popover-target"] {
      // border: 1px solid green !important;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  .itemsContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .itemContainer {
      display: flex;
      // border: 1px solid green !important;
      overflow: hidden;

      align-items: flex-end;
      justify-content: center;
      position: relative;
      max-width: calc(var(--item-height) * 1);
      width: calc(var(--item-height) * 1);

      .item {
        display: flex;
        flex: 1;
      }

      .buttonsRow {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;

        .itemButton {
          display: flex;
          max-width: 38px;
          margin-left: auto;

          &:first-of-type {
            margin-left: unset;
          }
        }
      }

      &:hover {
        .buttonsRow {
          display: flex;
        }
      }
    }
  }
}
