.main {
  // border: 4px solid green !important;
  width: 100%;
}

.tableHeader {
  display: flex;
  margin-bottom: 1%;
  width: 100%;
  border-bottom: 2px solid grey;
}

.tableCell {
  display: flex;
  padding: 0.4vh 1.2vh;
}

.name,
.questName {
  flex: 1 1;
  display: flex;
}

.dragonPoints,
.gold,
.status,
.questStatus {
  display: flex;
  width: 21%;
  white-space: nowrap;
}
