.main {
  .triggersTable {
    max-width: 100%;
    box-shadow: none;
    // border: 1px solid black;
    margin-top: 2px;

    :global {
      .MuiTableCell-body {
        padding: 2px 5px;
        border-bottom: 1px solid black;
      }

      .MuiSelect-selectMenu {
        max-height: 1em;
        height: 1em !important;
        max-height: 5px !important;
        padding: 0px;
        padding-right: 24px;
      }
    }
  }

  .addTriggerButton {
    position: absolute;
    height: 24px;
    right: 0px;
  }

  .buttonGroup {
    display: flex;
    flex: 1 1;
    border: 1px solid green !important;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
  }
}
