.main {
  position: relative;
  display: flex;
  z-index: 1;
  border: 1px solid red !important;
  position: absolute;
  top: 10vh;
  left: 10vh;
}

.content {
  position: relative;
  display: flex;
  z-index: 1;
  border: 4px solid green !important;
  width: 50vw;
  z-index: 100000000;
  height: 50vh;
}
