.main {
  position: relative;
  display: flex;
  z-index: 1;
  border: 1px solid red !important;
  position: absolute;
  top: 10vh;
  right: 10vh;
}

.content {
  position: relative;
  display: flex;
  z-index: 1;
  border: 1px solid orange !important;
  width: 50vw;
  z-index: 100000000;
  height: 50vh;
}

.console {
  display: flex;
  border: 1px solid green !important;
  white-space: nowrap;
  overflow: hidden;
}

.grid {
  display: flex;
  border: 1px solid blue !important;
  width: 100%;
}
