@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  align-items: center;
  /* border: 1px solid var(--color-purple-dark) !important; */
  position: relative;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  padding: 2vh;
}

.framesContainer {
  display: flex;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  top: 10;
  z-index: 1;
  border: 3px solid purple;
  border-radius: 3px;
  margin-left: auto;
}

.saveButton {
  @include set-1;
}

.newButton {
  @include set-1;
}

.sceneName {
  position: fixed;
  top: 2%;
  display: flex;
  align-self: center;
  font-size: 25px;
  border: 3px solid purple;
  padding: 5px 10px;
  background: pink;
  border-radius: 9px;
}
