@import "../../../Common/Styles/mixins.modules.scss";

.audioConsoleLine {
  position: absolute;
  display: flex;
  transform: translateX(-100%);
  left: 0;
}

.audioConsoleFrame {
  display: flex;
  z-index: 20;
  top: 0;
  margin-left: 1vh;
}

.main {
  --mini-head-height: 15vh;

  display: flex;
  flex: 1;

  .clickMapMsg {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    justify-items: center;
    text-align: center;
    line-height: 2vh;
  }

  .dialogRow {
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 6px;
    background: white;
    position: relative;
    padding: 2%;
    overflow: hidden;
    padding-bottom: 0px !important;
  }

  .characterNameContainer {
    display: flex;
    align-items: center;
    height: unset;
    padding: 0px 0.7vh;
    font-size: 2vh;
  }

  .characterName {
    display: flex;
    align-items: center;
  }

  .sceneName {
    z-index: 30;
    position: absolute;
    display: flex;
    left: 1vh;
    top: 0;
    transform: translateY(-100%);

    font-size: 2vh;
    padding: 0 0.5vh;
    border: 1px solid black;
    background: white;
  }

  .scenes {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .wordsAndButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    // padding: 1vh;
    bottom: 35vh;
    right: 50.3vw;
    left: 1vh;
  }

  .wordsContainer {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-radius: 0.6vh;
    background: white;
    overflow: hidden;
    // border-top-left-radius: 0px;
    max-height: 63vh;
    background: none;
    // border: 4px solid green !important;
  }

  .dialogScroller {
    display: flex;
    flex: 1 1;
    z-index: 10;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 6px;
    max-height: 40vh;
    overflow-y: scroll;

    .dialog {
      z-index: 10;
      position: relative;
      display: flex;
      flex: 1 1;
      justify-content: flex-end;
      flex-direction: column;
      border-radius: 1vh;
      background: white;
      overflow: hidden;

      padding: 2vh;
      padding-left: 5vh;
      padding-bottom: 3vh;
      padding-right: 3vh;
      margin-top: auto;

      min-height: 15vh;
      height: fit-content;

      :global {
        [class*="WordGroup_main__"]:last-of-type {
          margin-bottom: unset;
        }
      }
    }

    .line {
      display: flex;
      margin-bottom: 0.3vh;
      border-radius: 3px;
      width: fit-content;
      min-width: 90%;
      max-width: 90%;
      position: relative;

      [class*="WordGroup_sentence__"] {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        font-size: var(--font-size-1);
      }
    }

    .character0,
    .character1,
    .character2,
    .character3 {
      display: flex;
    }

    .isOdd,
    .isEven {
      border: 2px solid;
      overflow: initial;
    }

    .isEven {
      --border-color: #ff005c;
      border-color: var(--border-color);

      [class*="FrameViewer_characterNameContainer_"] {
        border-right: 2px solid var(--border-color);
      }
      [class*="WordGroup_sentence__"] {
        justify-content: flex-start;
      }
    }

    .isOdd {
      --border-color: orange;
      border-color: var(--border-color);
      justify-content: flex-end;
      margin-left: auto;

      [class*="FrameViewer_characterNameContainer_"] {
        border-left: 2px solid #ff005c;
        border-color: var(--border-color);
      }
      [class*="WordGroup_sentence__"] {
        justify-content: flex-end;
      }
    }

    .character0 {
      --border-color: #ff005c;

      border-color: var(--border-color);
      background: #ffcee685;

      [class*="FrameViewer_characterNameContainer_"] {
        background: #ffb5ce;
        border-color: var(--border-color);
      }
    }

    .character1 {
      --border-color: orange;
      border-color: var(--border-color);
      background: #f7e59a5e;

      [class*="FrameViewer_characterNameContainer_"] {
        border-color: var(--border-color);
        background: #fff1b9;
        display: flex;
      }
    }

    .character2 {
      --border-color: lightseagreen;
      border-color: var(--border-color);
      background: #d4ffea;

      [class*="FrameViewer_characterNameContainer_"] {
        background: #a2daa2;
        border-color: var(--border-color);
      }
    }

    .character3 {
      --border-color: #cbcbff;
      border-color: var(--border-color);
      background: #e8f2ff;

      [class*="FrameViewer_characterNameContainer_"] {
        background: #c0d8ff;
        border-color: var(--border-color);
      }
    }
  }

  .scenesContainer {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .locationImageContainer {
    height: 35vh;
    position: fixed;
    right: -5vh;
    bottom: 25vh;

    .locationImage {
      height: 100%;
      width: auto;
    }
  }

  .backgroundImageContainer {
    display: flex;
    position: relative;
    flex: 1;
  }

  .characterContainer {
    display: flex;
    overflow: visible;

    &:nth-of-type(3) {
      margin-left: auto;
    }
  }

  .buttonsContainer {
    z-index: 50;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid purple !important;
    border-radius: 0.4vh;
    top: 56vh;
    right: 53vw;
    padding: 0.5vh;
    background: #f7afff;
    box-shadow: 9px 8px 8px -5px #000000bd;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
  }

  .clickMapMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vh;
  }

  .lock01 {
    position: absolute;
    display: flex;
    flex: 1 1;
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: 100%;
  }
}
