.main {
  // background: red;

  :global {
    [class*="MuiPopover-paper"] {
      border: 4px solid blue !important;
      transform: translateX(382px) !important;

      height: 70vh !important;
      max-height: unset !important;
      width: unset !important;
      min-width: 43vw !important;
    }
  }
}

.main2 {
  // background: purple !important;
}
