.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  position: relative;
  background: var(--color-pink);
  height: 96vh;
  width: 100vw;

  :global {
    // --story-font-size: 2.3vh;
  }
}

.bookBuilder {
  border: 4px solid red !important;
  position: absolute;
  display: flex;
  z-index: 5;
  right: 10vw;
  z-index: 1010;
  top: 5.1vh;
  background: white;
}

.floatingButtons {
  position: absolute;
  display: flex;
  z-index: 5;
  right: 10vw;
  z-index: 100;
  top: 3.1vh;
}

.toasterContainer {
  top: 2vh !important;
  border: 4px solid green !important;
  width: min-content;
  white-space: nowrap;
  right: 1vw !important;
  left: unset !important;
  height: min-content;
  padding: 0 !important;

  .toaster {
    position: relative;
    display: flex;
    align-items: center;

    background: #f8ffc1;
    border: 2px solid #ff00d4 !important;
    border-radius: 8px;
    padding: 0.5vh;
    padding-right: 4vh;
    font-size: 2vh;
    line-height: 2vh;
    max-width: 70vw;
    margin-bottom: 0.5vh !important;

    :global {
      .bp3-toast-message div span {
        // border: 1px solid red !important;
      }

      .bp3-button-group {
        position: absolute;
        right: 2px;
        top: 2px;
        .bp3-icon > svg:not([fill]) {
          height: 1.9vh !important;
          width: 1.9vh !important;
        }
      }
    }
  }
}
