.main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  height: fit-content;

  :global {
    --row-font-size: 1.5vh;
    --dialog-image-width: 4vh;
    --row-height: calc(var(--row-font-size) * 1.15);
    --row-font-family: Arial, Helvetica, sans-serif;
  }

  :global {
    [class*="AutoComplete2_main__"] {
      display: flex;
      align-items: center;
      width: unset;
      // border: 4px solid green !important;
    }

    [class*="MuiFormControl-root"][class*="MuiTextField-root"] {
      display: flex;
      min-width: 14vh;
      // border: 4px solid blue !important;
    }
  }

  .crudMachineCritters2,
  .crudMachineCritters1 {
    // border: 1px solid red !important;
    display: flex;
    width: min-content;
    background: white;
    margin-right: 1vh;
    // min-width: 3vh !important;

    :global {
      [class*="CrudMachine_itemsContainer__"] {
        // border: 1px solid blue !important;
      }
      [class*="CrudMachine_itemContainer__"] {
        border-right: 1px solid blue !important;

        max-width: 3vh;
        min-width: 3vh;
        width: 3vh;

        [class*="ImageDisplay_imageContainer__"] {
          // border-right: 1px solid black !important;
          width: 5vh;
        }
      }
    }
  }

  .crudMachineCritters2 {
    margin-left: 1vh;
  }

  .dialogText {
    // border: 4px solid blue !important;
    display: flex;
    flex: 1;
  }

  .dialogImage {
    border: 1px solid blue !important;
    position: absolute;
    background: white;
    z-index: 1;
    height: 1.7vh;
    width: var(--dialog-image-width);
    left: 0vh;
  }

  .frameButtons {
    display: flex;
    align-self: center;
    margin-left: 8px;

    > button {
      display: flex;

      height: 90% !important;
      min-height: unset;

      padding: 0px;
      font-size: 72%;
    }
  }

  .containerToGetMaxHeight {
    display: flex;
    position: relative;
    flex: 1 1;
    height: fit-content;
  }

  .dialogBuilderButtonGroup {
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    background: transparent;
  }

  .fakeDiv {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    white-space: nowrap;
    font-family: var(--row-font-family);
    font-size: var(--row-font-size);
    min-height: 22px !important;
    max-height: 22px !important;
    top: 4px;
    overflow: hidden;
    border-bottom: 1px solid gray !important;
    padding-left: var(--dialog-image-width);

    &:nth-child(even) {
      :global {
        [class*="DialogBuilder2_dialogImage"] {
          // border: 1px solid green !important;
        }
      }
    }

    &:nth-child(odd) {
      opacity: 0.5;

      :global {
        [class*="DialogBuilder2_dialogImage"] {
          // border: 1px solid red !important;
        }
      }
    }
  }

  .controlPanel {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .controlPanel2 {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .hidden {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    width: 0px;
    width: 40%;
    // border: 4px solid blue !important;
  }

  .textEditor {
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 450px;
  }

  .frameSeparatorDiv {
    border: 1px solid red !important;
    background: rgb(216, 216, 216) !important;
    min-height: 3.5vh !important;
    opacity: 1 !important;
    padding-left: 0px;
  }

  .newSceneRow {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    background: rgb(187, 187, 187) !important;
  }

  .emptySpace {
    display: flex;
    flex: 1;
    height: 100%;
  }
}
