.main {
  justify-content: center;
  position: relative;
  height: 97%;
  width: 100%;
  border: 4px solid red !important;
}

.questList {
  display: flex;
  border: 1px solid blue !important;
  justify-content: center;
  padding: 1vh;
  margin-top: 3vh;
  max-width: 56vw;
  justify-self: center;
  justify-content: center;
  margin: 0 auto;
}

.floatingButtons {
  position: absolute;
  display: flex;
  z-index: 5;
  right: 10vw;
  z-index: 100;
  top: 2vh;
}
