.main {
  display: flex;
  border: 1px solid purple !important;
  justify-content: center;
}

.questList {
  display: flex;
  border: 1px solid blue !important;
  justify-content: center;
  padding: 1vh;
}
