@import "../../Styles/mixins.modules.scss";

.textPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.story {
  display: flex;
  flex-direction: column;

  padding-top: 24px;
  height: 100%;
  border: 2px solid var(--set1-purple-brdr);
}
