.main {
  .narrative {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin: auto;

    .sentence {
      display: flex;
      align-items: center;

      font-size: var(--story-font-size);
      // height: calc(1 * var(--story-font-size));

      flex-wrap: wrap;

      padding-right: 0.5rem;
      padding-left: 0.5rem;

      .sentenceWord {
        border: 1px solid transparent !important;
        border-radius: 10px;
        margin-left: 0;
        padding-right: 0.4em;
        font-weight: 400;
      }

      .sentenceWord:focus {
        border: 1px solid blue !important;
        outline: none;
      }
      .sentenceWord:hover {
        border: 1px solid blue !important;
        outline: none;
        cursor: wait;
      }
    }
  }
}
