.main {
  .narrative {
    display: flex;
    flex-direction: column;

    margin: auto;

    .sentence {
      display: flex;
      align-items: center;

      font-size: var(--story-font-size);
      flex-wrap: wrap;

      padding-right: 0.5rem;
      padding-left: 0.5rem;
      // font-size: 2.5vh;
      border: 4px solid green !important;

      .sentenceWord {
        border: 1px solid transparent !important;
        border-radius: 10px;
        margin-left: 0;
        padding-right: 0.4em;
        font-weight: 400;
        // padding-right: 0.5rem;
        // padding-left: 0.5rem;
        // font-size: 2.5vh;
      }

      .sentenceWord:focus {
        border: 1px solid blue !important;
        outline: none;
      }
      .sentenceWord:hover {
        border: 1px solid blue !important;
        outline: none;
        cursor: wait;
      }
    }

    .sentence:nth-of-type(3n) {
      margin-bottom: 24px;
    }
  }
}
