@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: var(--color-pink);

  height: var(--window-height);
}

.bookBuilder {
  border: 4px solid red !important;
  position: absolute;
  display: flex;
  z-index: 5;
  right: 10vw;
  z-index: 1010;
  top: 5.1vh;
  background: white;
}

.floatingButtons {
  position: absolute;
  display: flex;
  z-index: 5;
  right: 10vw;
  z-index: 1010;
  top: 3.1vh;
}

.toasterContainer {
  top: 12vh !important;
  left: -64vw;
  // transform: translateY(-50%);
}

.toaster {
  background: #f8ffc1;
  border: 2px solid #ff00d4 !important;
  border-radius: 8px;
  min-height: 6vh;
  align-items: center;
  font-size: 1.7vh;
  max-width: 70vw;

  :global {
    .bp3-icon > svg:not([fill]) {
      height: 4vh !important;
      width: 4vh !important;
    }
  }
}
