@import "../../Styles/mixins.modules.scss";

.main {
  --pink-background: rgba(230, 230, 250, 0.34);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--light-pink);
  color: var(--set1-purple-brdr);
  padding: 1vh;
  height: 80vh;
  width: 70vw;
  overflow: hidden;
  margin: unset;
  border: 2px solid #000 !important;
}

.buttonGroup {
  display: flex;
  position: absolute;
  left: 1%;
  top: 1%;
}

.backgroundImage {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.playButton {
  display: flex;
  font-size: 5vh;
  background-color: var(--color-purple) !important;
  z-index: 1;
  font-family: fantasy;
  padding: 2%;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}

// .levelCompletionMessage {
//   display: flex;
// }

.questPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: var(--pink-background);
  border-radius: 0.5vh;
  width: fit-content;
  align-self: center;
  flex-direction: column;
}

.playerStatsSection {
  position: absolute;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  border: 1px solid black !important;
  color: black;
  background: lavender;
  border-radius: 0.5vh;
  padding: 0.6vh 0.9vh;
  font-size: 2vh;
  width: 17%;
  right: 1vh;
  top: 1vh;
}

.gameTitle {
  display: flex;
  border: 1px solid black !important;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0 1vh;
  border-radius: 0.5vh;
  font-size: 3vh;
}

.content {
  display: flex;
  border: 1px solid black !important;
  width: 82%;
  max-height: 85%;
  margin-top: 2%;
  padding: 0 1vh;
  background: var(--pink-background);
  border-radius: 0.8vh;
  background: whitesmoke;
  align-self: center;
}

.playerStatsRow {
  display: flex;
}

.playerStatsKey {
  display: flex;
  width: 80%;
  white-space: nowrap;
}

.playerStatsValue {
  display: flex;
  width: 20%;
}

.questTable {
  display: flex;
  width: 100%;
  flex: 1 1;

  flex-direction: column;
  font-size: 24px;
  color: black;
  padding: 2.5vh;
}

.scrollArea {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.questRow {
  display: flex;
  border: 1px solid #cecece !important;
  border-bottom: none;
  width: 100%;
  flex: 1 1;
  background: #e9f0ff;
  margin-bottom: 1vh;
  border-radius: 0.6vh;

  &:hover {
    background-color: #cacade;
    cursor: pointer;
  }
}

.tableHeader {
  display: flex;
  margin-bottom: 1%;
  width: 100%;
  border-bottom: 2px solid grey;
}

.tableCell {
  display: flex;
  padding: 0.4vh 1.2vh;
}

.name,
.questName {
  flex: 1 1;
  display: flex;
}

.dragonPoints,
.gold,
.status,
.questStatus {
  display: flex;
  width: 18%;
}

.questStatus {
  display: flex;
  width: 18%;
  justify-content: flex-end;
}

.status {
  justify-content: center;
}
